---
name: Lint
on:
  push:
    paths-ignore:
      - '**.pb.go'
      - '**_test.go'
jobs:
  # We already run the current golangci-lint in tests, but here we test
  # our GitHub action with the latest stable golangci-lint.
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.35

#  go1.16 required
#  errcheck:
#    name: Errcheck
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@master
#    - name: check
#      uses: grandcolline/golang-github-actions@v1.1.0
#      with:
#        run: errcheck
#        token: ${{ secrets.GITHUB_TOKEN }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: check
      uses: grandcolline/golang-github-actions@v1.1.0
      with:
        run: lint
        token: ${{ secrets.GITHUB_TOKEN }}

  staticcheck:
    name: StaticCheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: check
      uses: grandcolline/golang-github-actions@v1.1.0
      with:
        run: staticcheck
        token: ${{ secrets.GITHUB_TOKEN }}

#  go1.16 required
#  sec:
#    name: Sec
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@master
#    - name: check
#      uses: grandcolline/golang-github-actions@v1.1.0
#      with:
#        run: sec
#        token: ${{ secrets.GITHUB_TOKEN }}
#        flags: "-exclude=G104"
#
